h1{
  text-align:center;
  color:red;
}
h2{
  text-align:center;
  color:gold;
}
h3{
  text-align:center;
  color:purple;
}
p{
  font-size:32px;
  text-align:center;
  color:brown;
  font-weight:400;
}
background{
  color:grey;
  
}
body{
  color:green;
  text-align:center;
}
.junior{
  border-width:2px;
  border-style:solid;
  border-color:orange;
  background-color:gold;
}
