h1{
  color:red;
}
h2{
  color:gold;
}
h3{
  color:purple;
}
p{
  font-size:32px;
  text-align:center;
  color:brown;
  font-weight:400;
}
background{
  color:grey;
}
body{
  color:green;
}
junior{
  border-width:2px
  border-style:solid;
  border-color:orange;
}
